flows_PI-ONDES.json
[{"id":"ba98b526.2cedf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"906070fa.20c97","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5d130117.f3019","type":"ui_tab","z":"","name":"Salle de Classe","icon":"dashboard"},{"id":"f3474fa8.896f1","type":"ui_group","z":"","name":"Distance","tab":"5d130117.f3019","disp":true,"width":"6","collapse":true},{"id":"ab809e49.911b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"97e32a06.7cf088","type":"ui_group","z":"","name":"Tension","tab":"5d130117.f3019","disp":true,"width":"6","collapse":false},{"id":"a05c3e49.282a","type":"ui_group","z":"","name":"Aleat_py","tab":"5d130117.f3019","disp":true,"width":"6","collapse":false},{"id":"720c0d32.d69db4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"50e597ba.47fea8","type":"ui_group","z":"","name":"Default","tab":"720c0d32.d69db4","disp":true,"width":"6","collapse":false},{"id":"64a4261d.9fbbc8","type":"ui_group","z":"","name":"Tesnion AC/DC","tab":"5d130117.f3019","disp":true,"width":"6","collapse":false},{"id":"ba6d06e2.e23b68","type":"mqtt in","z":"ba98b526.2cedf8","name":"","topic":"PIERRON/PI_NODE_TEST/tension","qos":"2","broker":"906070fa.20c97","x":200,"y":200,"wires":[["2ace0f1.f5d7cf","9dfc2e28.48c53","d9c23a73.5cc8c8"]]},{"id":"f788ee5d.ea8fa","type":"inject","z":"ba98b526.2cedf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["a6c321eb.895e3"]]},{"id":"f23cf8b0.df7238","type":"mqtt out","z":"ba98b526.2cedf8","name":"","topic":"PIERRON/TEST","qos":"","retain":"","broker":"906070fa.20c97","x":520,"y":60,"wires":[]},{"id":"27e3327a.c783fe","type":"ui_gauge","z":"ba98b526.2cedf8","name":"","group":"97e32a06.7cf088","order":0,"width":0,"height":0,"gtype":"gage","title":"tension AC","label":"Volt","format":"{{value|number:1}}V","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":220,"wires":[]},{"id":"b80ea6ee.808328","type":"ui_chart","z":"ba98b526.2cedf8","name":"","group":"97e32a06.7cf088","order":0,"width":0,"height":0,"label":"Tension","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"-100","ymax":"100","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":780,"y":260,"wires":[[],[]]},{"id":"a6c321eb.895e3","type":"function","z":"ba98b526.2cedf8","name":"Sinus","func":"msg.payload = Math.sin(msg.payload/10000)+1;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":60,"wires":[["f23cf8b0.df7238"]]},{"id":"ccea4177.4c32f","type":"mqtt in","z":"ba98b526.2cedf8","name":"","topic":"PIERRON/PI_NODE_TEST/DISTANCE","qos":"2","broker":"906070fa.20c97","x":210,"y":400,"wires":[["1cd29dc6.59e2b2","42f4d410.afe82c"]]},{"id":"1cd29dc6.59e2b2","type":"ui_gauge","z":"ba98b526.2cedf8","name":"","group":"50e597ba.47fea8","order":0,"width":0,"height":0,"gtype":"gage","title":"Distance","label":"m","format":"{{value|number:2}}m","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":360,"wires":[]},{"id":"42f4d410.afe82c","type":"ui_chart","z":"ba98b526.2cedf8","name":"","group":"50e597ba.47fea8","order":0,"width":0,"height":0,"label":"Distance","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"15","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":420,"wires":[[],[]]},{"id":"a8825ad5.797358","type":"mqtt in","z":"ba98b526.2cedf8","name":"","topic":"PIERRON/PY/TEST","qos":"2","broker":"906070fa.20c97","x":150,"y":580,"wires":[["b6da5174.02ebc"]]},{"id":"b9de2ee9.6175b","type":"ui_gauge","z":"ba98b526.2cedf8","name":"","group":"a05c3e49.282a","order":0,"width":0,"height":0,"gtype":"gage","title":"Alea","label":"m","format":"{{value|number:0}}","min":"-1000","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":580,"wires":[]},{"id":"b6da5174.02ebc","type":"delay","z":"ba98b526.2cedf8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":440,"y":580,"wires":[["b9de2ee9.6175b","ac943c4f.0bca6"]]},{"id":"ac943c4f.0bca6","type":"ui_chart","z":"ba98b526.2cedf8","name":"","group":"a05c3e49.282a","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1000","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":680,"wires":[[],[]]},{"id":"2ace0f1.f5d7cf","type":"function","z":"ba98b526.2cedf8","name":"Voltmetre continu","func":"msg.payload = parseFloat(msg.payload);\nmsg.payload -= 0.5;\nmsg.payload *= 200;\n//msg.payload *=2;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["27e3327a.c783fe","b80ea6ee.808328"]]},{"id":"9dfc2e28.48c53","type":"debug","z":"ba98b526.2cedf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":380,"wires":[]},{"id":"d9c23a73.5cc8c8","type":"function","z":"ba98b526.2cedf8","name":"Voltmetre AC/DC","func":"msg.payload = parseFloat(msg.payload);\nmsg.payload *= 100;\n//msg.payload *=2;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["da337b8c.8c3de8"]]},{"id":"da337b8c.8c3de8","type":"ui_gauge","z":"ba98b526.2cedf8","name":"","group":"64a4261d.9fbbc8","order":0,"width":0,"height":0,"gtype":"gage","title":"tension AC/DC","label":"Volt","format":"{{value|number:1}}V","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":120,"wires":[]}]