flows_PI-ONDES.json
[{"id":"ba98b526.2cedf8","type":"tab","label":"Salle de Classe","disabled":false,"info":""},{"id":"7ee6f9ba.7091f8","type":"tab","label":"Essais","disabled":true,"info":""},{"id":"6438a154.93d34","type":"tab","label":"NS","disabled":false,"info":""},{"id":"5b8c2051.dac96","type":"tab","label":"PASCALINE","disabled":false,"info":""},{"id":"dad18347.47653","type":"tab","label":"ECHO","disabled":false,"info":""},{"id":"9e82fc95.3172e","type":"subflow","name":"Voltmetre Mesura 2 DC","info":"Un Voltmetre Mesura 2 en mode continue.\n\nen entrée : MQTT ou USB\n\nen sortie : Text, gauge, Graphe ou ...","in":[{"x":60,"y":100,"wires":[{"id":"a4f68b06.85b778"}]}],"out":[{"x":1060,"y":100,"wires":[{"id":"a5df6c71.00d48","port":0}]}],"inputLabels":["A mqtt or serial node"],"outputLabels":["Tension"]},{"id":"173a36e.62101c9","type":"subflow","name":"Voltmetre Mesura 2 AC/DC","info":"Un Voltmetre Mesura 2 en mode alternatif.\n\nen entrée : MQTT ou USB\n\nen sortie : Text, gauge, Graphe ou ...","in":[{"x":60,"y":140,"wires":[{"id":"c0b70de.0909bf"}]}],"out":[{"x":1060,"y":140,"wires":[{"id":"92f3cadc.9e61f8","port":0}]}]},{"id":"906070fa.20c97","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5d130117.f3019","type":"ui_tab","z":"","name":"Salle de Classe","icon":"dashboard"},{"id":"f3474fa8.896f1","type":"ui_group","z":"","name":"Distance","tab":"5d130117.f3019","disp":true,"width":"6","collapse":true},{"id":"ab809e49.911b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"97e32a06.7cf088","type":"ui_group","z":"","name":"Tension","tab":"96b2e298.16802","disp":true,"width":"6","collapse":false},{"id":"a05c3e49.282a","type":"ui_group","z":"","name":"Aleat_py","tab":"5d130117.f3019","disp":true,"width":"6","collapse":false},{"id":"720c0d32.d69db4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"50e597ba.47fea8","type":"ui_group","z":"","name":"Default","tab":"720c0d32.d69db4","disp":true,"width":"6","collapse":false},{"id":"64a4261d.9fbbc8","type":"ui_group","z":"","name":"Tesnion AC/DC","tab":"5d130117.f3019","disp":true,"width":"6","collapse":false},{"id":"eb8e25c7.d77d18","type":"serial-port","z":"","serialport":"/dev/ttyUSB1","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"5b91ca5f.6d2ed4","type":"ui_group","z":"","name":"USB","tab":"5d130117.f3019","disp":true,"width":"6","collapse":false},{"id":"96b2e298.16802","type":"ui_tab","z":"","name":"TEST","icon":"dashboard"},{"id":"cfb7715f.01ed3","type":"ui_group","z":"","name":"PASCALINE","tab":"d5a26b3e.97c208","disp":true,"width":"16"},{"id":"4412fc60.cc2f14","type":"mqtt-broker","z":"","broker":"192.168.10.155","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"d5a26b3e.97c208","type":"ui_tab","z":"","name":"PIERRON","icon":"dashboard"},{"id":"26893409.4d91ac","type":"ui_tab","z":"","name":"ECHO","icon":"dashboard"},{"id":"e26687f7.e85b28","type":"ui_group","z":"","name":"ECHO","tab":"26893409.4d91ac","disp":true,"width":"18","collapse":false},{"id":"7ea00345.1c56fc","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"ba6d06e2.e23b68","type":"mqtt in","z":"ba98b526.2cedf8","name":"","topic":"PIERRON/PI_NODE_TEST/tension","qos":"2","broker":"906070fa.20c97","x":200,"y":200,"wires":[["ed113652.dd8c28","2e41a031.1278a"]]},{"id":"27e3327a.c783fe","type":"ui_gauge","z":"ba98b526.2cedf8","name":"","group":"f3474fa8.896f1","order":0,"width":0,"height":0,"gtype":"gage","title":"tension AC","label":"Volt","format":"{{value|number:1}}V","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":220,"wires":[]},{"id":"b80ea6ee.808328","type":"ui_chart","z":"ba98b526.2cedf8","name":"","group":"f3474fa8.896f1","order":0,"width":0,"height":0,"label":"Tension","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"-100","ymax":"100","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":780,"y":280,"wires":[[],[]]},{"id":"da337b8c.8c3de8","type":"ui_gauge","z":"ba98b526.2cedf8","name":"","group":"64a4261d.9fbbc8","order":0,"width":0,"height":0,"gtype":"gage","title":"tension AC/DC","label":"Volt","format":"{{value|number:1}}V","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":120,"wires":[]},{"id":"a4f68b06.85b778","type":"json","z":"9e82fc95.3172e","name":"","property":"payload","action":"","pretty":false,"x":210,"y":140,"wires":[["a81c49c5.ced538"]]},{"id":"a5df6c71.00d48","type":"function","z":"9e82fc95.3172e","name":"Voltmetre continu","func":"msg.payload = parseFloat(msg.payload);\nmsg.payload -= 0.5;\nmsg.payload *= 200;\n//msg.payload *=2;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":120,"wires":[[]]},{"id":"4f455db8.012794","type":"change","z":"9e82fc95.3172e","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[["a5df6c71.00d48"]]},{"id":"ed113652.dd8c28","type":"subflow:9e82fc95.3172e","z":"ba98b526.2cedf8","x":510,"y":240,"wires":[["b80ea6ee.808328","27e3327a.c783fe"]]},{"id":"a81c49c5.ced538","type":"function","z":"9e82fc95.3172e","name":"Switch mqtt/usb","func":"if (typeof(msg.payload )==\"object\"){\n    return [null,msg];\n}else{\n    return [msg,null];\n}\n","outputs":2,"noerr":0,"x":380,"y":140,"wires":[["a5df6c71.00d48"],["4f455db8.012794"]]},{"id":"c0b70de.0909bf","type":"json","z":"173a36e.62101c9","name":"","property":"payload","action":"","pretty":false,"x":190,"y":140,"wires":[["afae67c3.c36d58"]]},{"id":"92f3cadc.9e61f8","type":"function","z":"173a36e.62101c9","name":"Voltmetre alternatif","func":"msg.payload = parseFloat(msg.payload);\nmsg.payload *= 100;\n//msg.payload *=2;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":120,"wires":[[]]},{"id":"624a879c.c5e998","type":"change","z":"173a36e.62101c9","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["92f3cadc.9e61f8"]]},{"id":"afae67c3.c36d58","type":"function","z":"173a36e.62101c9","name":"Switch mqtt/usb","func":"if (typeof(msg.payload )==\"object\"){\n    return [null,msg];\n}else{\n    return [msg,null];\n}\n","outputs":2,"noerr":0,"x":360,"y":140,"wires":[["92f3cadc.9e61f8"],["624a879c.c5e998"]]},{"id":"2e41a031.1278a","type":"subflow:173a36e.62101c9","z":"ba98b526.2cedf8","x":510,"y":160,"wires":[["da337b8c.8c3de8"]]},{"id":"e3471bf7.7a7c38","type":"inject","z":"7ee6f9ba.7091f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["6b374d7.5851db4"]]},{"id":"9a9ecd7b.62d06","type":"mqtt out","z":"7ee6f9ba.7091f8","name":"","topic":"PIERRON/TEST","qos":"","retain":"","broker":"906070fa.20c97","x":500,"y":100,"wires":[]},{"id":"6b374d7.5851db4","type":"function","z":"7ee6f9ba.7091f8","name":"Sinus","func":"msg.payload = Math.sin(msg.payload/10000)+1;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["9a9ecd7b.62d06"]]},{"id":"b9b7ab55.244258","type":"mqtt in","z":"7ee6f9ba.7091f8","name":"","topic":"PIERRON/TEST","qos":"2","broker":"906070fa.20c97","x":120,"y":220,"wires":[["e8411eeb.40141","7c365999.29f258"]]},{"id":"e8411eeb.40141","type":"ui_gauge","z":"7ee6f9ba.7091f8","name":"","group":"50e597ba.47fea8","order":0,"width":0,"height":0,"gtype":"gage","title":"Distance","label":"m","format":"{{value|number:2}}m","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":180,"wires":[]},{"id":"7c365999.29f258","type":"ui_chart","z":"7ee6f9ba.7091f8","name":"","group":"50e597ba.47fea8","order":0,"width":0,"height":0,"label":"Distance","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"15","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":520,"y":240,"wires":[[],[]]},{"id":"ca4bef.89db441","type":"mqtt in","z":"7ee6f9ba.7091f8","name":"","topic":"PIERRON/TEST","qos":"2","broker":"906070fa.20c97","x":120,"y":340,"wires":[["5f97cd7a.f02514"]]},{"id":"20fa2101.31eb6e","type":"ui_gauge","z":"7ee6f9ba.7091f8","name":"","group":"a05c3e49.282a","order":0,"width":0,"height":0,"gtype":"gage","title":"Alea","label":"m","format":"{{value|number:0}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":340,"wires":[]},{"id":"5f97cd7a.f02514","type":"delay","z":"7ee6f9ba.7091f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":340,"wires":[["20fa2101.31eb6e","69fc6e2a.58234"]]},{"id":"69fc6e2a.58234","type":"ui_chart","z":"7ee6f9ba.7091f8","name":"","group":"a05c3e49.282a","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":440,"wires":[[],[]]},{"id":"c48b0006.12fb7","type":"serial in","z":"ba98b526.2cedf8","name":"USB_PIERRON","serial":"eb8e25c7.d77d18","x":140,"y":400,"wires":[["868df6ba.68c9f8"]]},{"id":"78595a2.a8a6ca4","type":"ui_gauge","z":"ba98b526.2cedf8","name":"","group":"5b91ca5f.6d2ed4","order":0,"width":0,"height":0,"gtype":"gage","title":"tension (usb)","label":"Volt","format":"{{value|number:1}}V","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":400,"wires":[]},{"id":"868df6ba.68c9f8","type":"subflow:9e82fc95.3172e","z":"ba98b526.2cedf8","name":"","x":450,"y":400,"wires":[["78595a2.a8a6ca4"]]},{"id":"efffd9ba.0852a8","type":"ui_gauge","z":"ba98b526.2cedf8","name":"","group":"97e32a06.7cf088","order":0,"width":"6","height":"8","gtype":"gage","title":"INPUT_VOLTAGE AC","label":"Volt","format":"{{value|number:1}}V","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":560,"wires":[]},{"id":"50f629b5.23ba38","type":"Mcp3201","z":"ba98b526.2cedf8","name":"Voltage","device":"/dev/spidev0.0","vref":"5","topic":"PIERRON/INPUT_VOLTAGE","x":360,"y":600,"wires":[["2db611b1.b19a2e","f18e1586.d881f8","ca6ba9a7.0c9718"]]},{"id":"f33b2136.0f9f3","type":"inject","z":"ba98b526.2cedf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":600,"wires":[["50f629b5.23ba38"]]},{"id":"2db611b1.b19a2e","type":"ui_chart","z":"ba98b526.2cedf8","name":"","group":"f3474fa8.896f1","order":0,"width":0,"height":0,"label":"Tension","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":720,"y":640,"wires":[[],[]]},{"id":"f18e1586.d881f8","type":"ui_template","z":"ba98b526.2cedf8","group":"f3474fa8.896f1","name":"","order":0,"width":"4","height":"5","format":"\n<font size=\"36\"><div ng-bind-html=\"msg.payload\"></div></font>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":720,"y":700,"wires":[[]]},{"id":"29a2a1be.fb740e","type":"Mcp3201","z":"ba98b526.2cedf8","name":"pierron","device":"/dev/spidev0.0","vref":"5","topic":"","x":280,"y":760,"wires":[[]]},{"id":"ca6ba9a7.0c9718","type":"function","z":"ba98b526.2cedf8","name":"*42","func":"msg.payload = 42 * msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":560,"wires":[["efffd9ba.0852a8","8b301f0e.2d1c9"]]},{"id":"fefe946.e73a068","type":"delay","z":"ba98b526.2cedf8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"4","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":620,"wires":[[]]},{"id":"8b301f0e.2d1c9","type":"function","z":"ba98b526.2cedf8","name":"","func":"msg.payload = String(Math.floor(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":600,"wires":[["fefe946.e73a068"]]},{"id":"9b153dc1.4f25e","type":"ui_button","z":"ba98b526.2cedf8","name":"","group":"f3474fa8.896f1","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":720,"y":860,"wires":[[]]},{"id":"f2d51fe.f617ce","type":"ui_audio","z":"ba98b526.2cedf8","name":"","group":"f3474fa8.896f1","voice":"ja-JP","always":true,"x":1140,"y":680,"wires":[]},{"id":"d5408cd4.c69d","type":"switch","z":"ba98b526.2cedf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":740,"wires":[[]]},{"id":"474c1866.37f0d8","type":"ui_text","z":"5b8c2051.dac96","group":"cfb7715f.01ed3","order":1,"width":0,"height":0,"name":"Résultat","label":"Résultat","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":320,"wires":[]},{"id":"ce27831.4771b8","type":"ui_gauge","z":"5b8c2051.dac96","name":"","group":"cfb7715f.01ed3","order":4,"width":"3","height":"3","gtype":"gage","title":"Unités","label":"units","format":"{{value}}","min":"-9","max":"9","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":540,"wires":[]},{"id":"8826dd9c.9f82b","type":"mqtt in","z":"5b8c2051.dac96","name":"","topic":"PIERRON/PI_NODE_TEST/ROT/10","qos":"2","broker":"906070fa.20c97","x":240,"y":340,"wires":[["d7b3a970.0ff7f8","650fd54e.5a6abc"]]},{"id":"ec08e6df.161e78","type":"mqtt in","z":"5b8c2051.dac96","name":"","topic":"PIERRON/PI_NODE_TEST/ROT/100","qos":"2","broker":"906070fa.20c97","x":230,"y":420,"wires":[["95455418.469648","fa30728c.4ec2a"]]},{"id":"38005021.39e1e","type":"mqtt in","z":"5b8c2051.dac96","name":"","topic":"PIERRON/PI_NODE_TEST/ROT/1","qos":"2","broker":"906070fa.20c97","x":240,"y":280,"wires":[["d5957da9.d046f","ff0d746b.6061e8"]]},{"id":"d5957da9.d046f","type":"function","z":"5b8c2051.dac96","name":"+/-1","func":"var compteur = flow.get(\"compteur\") || 0;\nmsg.payload = compteur + parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["49159710.2d56c8"]]},{"id":"d7b3a970.0ff7f8","type":"function","z":"5b8c2051.dac96","name":"+/-10","func":"var compteur = flow.get(\"compteur\") || 0;\nmsg.payload = compteur + 10*parseInt(msg.payload);\nflow.set(\"compteur\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":340,"wires":[["49159710.2d56c8"]]},{"id":"95455418.469648","type":"function","z":"5b8c2051.dac96","name":"+/-1000","func":"var compteur = flow.get(\"compteur\") || 0;\nmsg.payload = compteur + 100*parseInt(msg.payload);\nflow.set(\"compteur\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":420,"wires":[["49159710.2d56c8"]]},{"id":"ff0d746b.6061e8","type":"function","z":"5b8c2051.dac96","name":"unite +/- 1","func":"var unite = flow.get(\"unite\") || 0;\nmsg.payload = unite + parseInt(msg.payload);\nflow.set(\"unite\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":540,"wires":[["ce27831.4771b8","927ad209.566d2"]]},{"id":"65e0ca13.75da24","type":"inject","z":"5b8c2051.dac96","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":910,"y":500,"wires":[["ce27831.4771b8"]]},{"id":"927ad209.566d2","type":"trigger","z":"5b8c2051.dac96","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"3","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":740,"y":760,"wires":[["5155558f.8d92cc"]]},{"id":"5155558f.8d92cc","type":"function","z":"5b8c2051.dac96","name":"RAZ","func":"flow.set(\"unite\",0);\nflow.set(\"dizaine\",0);\nflow.set(\"centaine\",0);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":760,"wires":[["ce27831.4771b8","5ed9a7c5.3c15b8","f6f7b9f5.759c28"]]},{"id":"5ed9a7c5.3c15b8","type":"ui_gauge","z":"5b8c2051.dac96","name":"","group":"cfb7715f.01ed3","order":3,"width":"3","height":"3","gtype":"gage","title":"dizaine","label":"units","format":"{{value}}","min":"-9","max":"9","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":620,"wires":[]},{"id":"650fd54e.5a6abc","type":"function","z":"5b8c2051.dac96","name":"dizaine+/- 1","func":"var dizaine = flow.get(\"dizaine\") || 0;\nmsg.payload = dizaine + parseInt(msg.payload);\nflow.set(\"dizaine\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":620,"wires":[["5ed9a7c5.3c15b8","927ad209.566d2"]]},{"id":"c6ec7883.284718","type":"inject","z":"5b8c2051.dac96","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":910,"y":580,"wires":[["5ed9a7c5.3c15b8"]]},{"id":"f6f7b9f5.759c28","type":"ui_gauge","z":"5b8c2051.dac96","name":"","group":"cfb7715f.01ed3","order":2,"width":"3","height":"3","gtype":"gage","title":"centaine","label":"units","format":"{{value}}","min":"-9","max":"9","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":700,"wires":[]},{"id":"fa30728c.4ec2a","type":"function","z":"5b8c2051.dac96","name":"unite +/- 1","func":"var centaine = flow.get(\"centaine\") || 0;\nmsg.payload = centaine + parseInt(msg.payload);\nflow.set(\"centaine\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":700,"wires":[["f6f7b9f5.759c28","927ad209.566d2"]]},{"id":"910b7699.1b2078","type":"inject","z":"5b8c2051.dac96","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":910,"y":660,"wires":[["f6f7b9f5.759c28"]]},{"id":"5fe8ec6c.547fa4","type":"ui_button","z":"5b8c2051.dac96","name":"","group":"cfb7715f.01ed3","order":0,"width":0,"height":0,"passthru":false,"label":"RAZ","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":560,"y":200,"wires":[["49159710.2d56c8"]]},{"id":"49159710.2d56c8","type":"function","z":"5b8c2051.dac96","name":"","func":"flow.set(\"compteur\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":320,"wires":[["474c1866.37f0d8","8a54912e.d4378"]]},{"id":"8a54912e.d4378","type":"file in","z":"5b8c2051.dac96","name":"","filename":"/home/pi/.node-red/projects/PIANODE/click.wav","format":"","chunk":false,"sendError":false,"x":1020,"y":200,"wires":[["e6f120ff.a3d58"]]},{"id":"e6f120ff.a3d58","type":"ui_audio","z":"5b8c2051.dac96","name":"","group":"cfb7715f.01ed3","voice":"","always":true,"x":1220,"y":380,"wires":[]},{"id":"f2000009.07522","type":"serial in","z":"dad18347.47653","name":"","serial":"7ea00345.1c56fc","x":260,"y":300,"wires":[["4954047b.2d909c"]]},{"id":"4954047b.2d909c","type":"json","z":"dad18347.47653","name":"","property":"payload","action":"","pretty":false,"x":410,"y":300,"wires":[["384efbad.e00d24"]]},{"id":"9d3315d2.2ee608","type":"ui_gauge","z":"dad18347.47653","name":"","group":"e26687f7.e85b28","order":0,"width":0,"height":0,"gtype":"gage","title":"{{msg.topic}}","label":"mètres","format":"{{value|number:3}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":260,"wires":[]},{"id":"1132a872.38b1b8","type":"ui_chart","z":"dad18347.47653","name":"","group":"e26687f7.e85b28","order":0,"width":0,"height":0,"label":"{{msg.topic}}","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":870,"y":440,"wires":[[],[]]},{"id":"a9aa9425.b6e138","type":"change","z":"dad18347.47653","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[["9d3315d2.2ee608","1132a872.38b1b8","48b4d928.61cb48"]]},{"id":"384efbad.e00d24","type":"switch","z":"dad18347.47653","name":"","property":"payload.topic","propertyType":"msg","rules":[{"t":"eq","v":"distance","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":300,"wires":[["a9aa9425.b6e138"]]},{"id":"48b4d928.61cb48","type":"debug","z":"dad18347.47653","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":420,"y":500,"wires":[]}]