flows_PI-ONDES.json
[{"id":"ba98b526.2cedf8","type":"tab","label":"Salle de Classe","disabled":false,"info":""},{"id":"7ee6f9ba.7091f8","type":"tab","label":"Essais","disabled":false,"info":""},{"id":"9e82fc95.3172e","type":"subflow","name":"Voltmetre Mesura 2 DC","info":"Un Voltmetre Mesura 2 en mode continue.\n\nen entrée : MQTT ou USB\n\nen sortie : Text, gauge, Graphe ou ...","in":[{"x":60,"y":100,"wires":[{"id":"a4f68b06.85b778"}]}],"out":[{"x":1060,"y":100,"wires":[{"id":"a5df6c71.00d48","port":0}]}],"inputLabels":["A mqtt or serial node"],"outputLabels":["Tension"]},{"id":"173a36e.62101c9","type":"subflow","name":"Voltmetre Mesura 2 AC/DC","info":"Un Voltmetre Mesura 2 en mode alternatif.\n\nen entrée : MQTT ou USB\n\nen sortie : Text, gauge, Graphe ou ...","in":[{"x":60,"y":140,"wires":[{"id":"c0b70de.0909bf"}]}],"out":[{"x":1060,"y":140,"wires":[{"id":"92f3cadc.9e61f8","port":0}]}]},{"id":"906070fa.20c97","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5d130117.f3019","type":"ui_tab","z":"","name":"Salle de Classe","icon":"dashboard"},{"id":"f3474fa8.896f1","type":"ui_group","z":"","name":"Distance","tab":"5d130117.f3019","disp":true,"width":"6","collapse":true},{"id":"ab809e49.911b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"97e32a06.7cf088","type":"ui_group","z":"","name":"Tension","tab":"5d130117.f3019","disp":true,"width":"6","collapse":false},{"id":"a05c3e49.282a","type":"ui_group","z":"","name":"Aleat_py","tab":"5d130117.f3019","disp":true,"width":"6","collapse":false},{"id":"720c0d32.d69db4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"50e597ba.47fea8","type":"ui_group","z":"","name":"Default","tab":"720c0d32.d69db4","disp":true,"width":"6","collapse":false},{"id":"64a4261d.9fbbc8","type":"ui_group","z":"","name":"Tesnion AC/DC","tab":"5d130117.f3019","disp":true,"width":"6","collapse":false},{"id":"eb8e25c7.d77d18","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"5b91ca5f.6d2ed4","type":"ui_group","z":"","name":"USB","tab":"5d130117.f3019","disp":true,"width":"6","collapse":false},{"id":"ba6d06e2.e23b68","type":"mqtt in","z":"ba98b526.2cedf8","name":"","topic":"PIERRON/PI_NODE_TEST/tension","qos":"2","broker":"906070fa.20c97","x":200,"y":200,"wires":[["ed113652.dd8c28","2e41a031.1278a"]]},{"id":"27e3327a.c783fe","type":"ui_gauge","z":"ba98b526.2cedf8","name":"","group":"97e32a06.7cf088","order":0,"width":0,"height":0,"gtype":"gage","title":"tension AC","label":"Volt","format":"{{value|number:1}}V","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":220,"wires":[]},{"id":"b80ea6ee.808328","type":"ui_chart","z":"ba98b526.2cedf8","name":"","group":"97e32a06.7cf088","order":0,"width":0,"height":0,"label":"Tension","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"-100","ymax":"100","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":780,"y":260,"wires":[[],[]]},{"id":"da337b8c.8c3de8","type":"ui_gauge","z":"ba98b526.2cedf8","name":"","group":"64a4261d.9fbbc8","order":0,"width":0,"height":0,"gtype":"gage","title":"tension AC/DC","label":"Volt","format":"{{value|number:1}}V","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":120,"wires":[]},{"id":"a4f68b06.85b778","type":"json","z":"9e82fc95.3172e","name":"","property":"payload","action":"","pretty":false,"x":210,"y":140,"wires":[["a81c49c5.ced538"]]},{"id":"a5df6c71.00d48","type":"function","z":"9e82fc95.3172e","name":"Voltmetre continu","func":"msg.payload = parseFloat(msg.payload);\nmsg.payload -= 0.5;\nmsg.payload *= 200;\n//msg.payload *=2;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":120,"wires":[[]]},{"id":"4f455db8.012794","type":"change","z":"9e82fc95.3172e","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[["a5df6c71.00d48"]]},{"id":"ed113652.dd8c28","type":"subflow:9e82fc95.3172e","z":"ba98b526.2cedf8","x":510,"y":240,"wires":[["b80ea6ee.808328","27e3327a.c783fe"]]},{"id":"a81c49c5.ced538","type":"function","z":"9e82fc95.3172e","name":"Switch mqtt/usb","func":"if (typeof(msg.payload )==\"object\"){\n    return [null,msg];\n}else{\n    return [msg,null];\n}\n","outputs":2,"noerr":0,"x":380,"y":140,"wires":[["a5df6c71.00d48"],["4f455db8.012794"]]},{"id":"c0b70de.0909bf","type":"json","z":"173a36e.62101c9","name":"","property":"payload","action":"","pretty":false,"x":190,"y":140,"wires":[["afae67c3.c36d58"]]},{"id":"92f3cadc.9e61f8","type":"function","z":"173a36e.62101c9","name":"Voltmetre alternatif","func":"msg.payload = parseFloat(msg.payload);\nmsg.payload *= 100;\n//msg.payload *=2;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":120,"wires":[[]]},{"id":"624a879c.c5e998","type":"change","z":"173a36e.62101c9","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["92f3cadc.9e61f8"]]},{"id":"afae67c3.c36d58","type":"function","z":"173a36e.62101c9","name":"Switch mqtt/usb","func":"if (typeof(msg.payload )==\"object\"){\n    return [null,msg];\n}else{\n    return [msg,null];\n}\n","outputs":2,"noerr":0,"x":360,"y":140,"wires":[["92f3cadc.9e61f8"],["624a879c.c5e998"]]},{"id":"2e41a031.1278a","type":"subflow:173a36e.62101c9","z":"ba98b526.2cedf8","x":510,"y":160,"wires":[["da337b8c.8c3de8"]]},{"id":"e3471bf7.7a7c38","type":"inject","z":"7ee6f9ba.7091f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["6b374d7.5851db4"]]},{"id":"9a9ecd7b.62d06","type":"mqtt out","z":"7ee6f9ba.7091f8","name":"","topic":"PIERRON/TEST","qos":"","retain":"","broker":"906070fa.20c97","x":500,"y":100,"wires":[]},{"id":"6b374d7.5851db4","type":"function","z":"7ee6f9ba.7091f8","name":"Sinus","func":"msg.payload = Math.sin(msg.payload/10000)+1;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["9a9ecd7b.62d06"]]},{"id":"b9b7ab55.244258","type":"mqtt in","z":"7ee6f9ba.7091f8","name":"","topic":"PIERRON/TEST","qos":"2","broker":"906070fa.20c97","x":120,"y":220,"wires":[["e8411eeb.40141","7c365999.29f258"]]},{"id":"e8411eeb.40141","type":"ui_gauge","z":"7ee6f9ba.7091f8","name":"","group":"50e597ba.47fea8","order":0,"width":0,"height":0,"gtype":"gage","title":"Distance","label":"m","format":"{{value|number:2}}m","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":180,"wires":[]},{"id":"7c365999.29f258","type":"ui_chart","z":"7ee6f9ba.7091f8","name":"","group":"50e597ba.47fea8","order":0,"width":0,"height":0,"label":"Distance","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"15","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":520,"y":240,"wires":[[],[]]},{"id":"ca4bef.89db441","type":"mqtt in","z":"7ee6f9ba.7091f8","name":"","topic":"PIERRON/TEST","qos":"2","broker":"906070fa.20c97","x":120,"y":340,"wires":[["5f97cd7a.f02514"]]},{"id":"20fa2101.31eb6e","type":"ui_gauge","z":"7ee6f9ba.7091f8","name":"","group":"a05c3e49.282a","order":0,"width":0,"height":0,"gtype":"gage","title":"Alea","label":"m","format":"{{value|number:0}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":340,"wires":[]},{"id":"5f97cd7a.f02514","type":"delay","z":"7ee6f9ba.7091f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":340,"wires":[["20fa2101.31eb6e","69fc6e2a.58234"]]},{"id":"69fc6e2a.58234","type":"ui_chart","z":"7ee6f9ba.7091f8","name":"","group":"a05c3e49.282a","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":440,"wires":[[],[]]},{"id":"c48b0006.12fb7","type":"serial in","z":"ba98b526.2cedf8","name":"USB_PIERRON","serial":"eb8e25c7.d77d18","x":120,"y":400,"wires":[["868df6ba.68c9f8"]]},{"id":"78595a2.a8a6ca4","type":"ui_gauge","z":"ba98b526.2cedf8","name":"","group":"5b91ca5f.6d2ed4","order":0,"width":0,"height":0,"gtype":"gage","title":"tension (usb)","label":"Volt","format":"{{value|number:1}}V","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":400,"wires":[]},{"id":"868df6ba.68c9f8","type":"subflow:9e82fc95.3172e","z":"ba98b526.2cedf8","name":"","x":450,"y":400,"wires":[["78595a2.a8a6ca4"]]}]